* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.login_wrapper {
    min-height: 100vh;
    background: url(img/login.png), linear-gradient(#2c341d, #2c341d);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    width: 90%;
    background-color: #fff;
    border-radius: 18px;
    padding: 25px 35px 35px 35px;
}

.login_form form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.login_form h2 {
    font-weight: bold;
    font-style: 16px;
    text-align: center;
    margin-bottom: 18px;
}

.login_form input {
    position: relative;
    border: 2px solid #5E663F;
    border-radius: 14px;
    padding: 11px;
    padding-left: 56px;
    margin-bottom: 19px;
    width: 100%;
    background: transparent;
    
}

.login_form div:nth-of-type(1)::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url(img/phone.png);
    background-size: cover;
    left: 18px;
    top: 10px;
}

.login_form div:nth-of-type(2)::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url(img/lock.png);
    background-size: cover;
    left: 18px;
    top: 10px;
}

.login_form div {
    position: relative;
}

.login_form button {
    background: #5E663F;
    border-radius: 14px;
    color: #DCDDCB;
    font-size: 14px;
    width: 100%;
    padding: 11px 0;
    border: none;
    margin-bottom: 10px;
    font-weight: 700;
}

.login_form p {
    font-size: 16px;
    color: #000;
}

.main_wrapper {
    min-height: 100vh;
    background: url(img/main.png),  linear-gradient(170.03deg, #5E663F 18.23%, #2C341D 63.44%);
}

.main {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    margin: 0 auto;
}

.main > p {
    text-align: center;
    font-size: 16px;
    color: #DCDDCB;
    font-weight: 700;
}

.main > p:nth-of-type(1) {
    margin-bottom: 30px;
}

.main h2 {
    color: #DCDDCB;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.button_im_here,
.button_another_number {
    margin: 32px 0;
    border-radius: 18px;
    width: 100%;
    padding: 23px 30px;
    background-color: #5E663F;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    max-height: 75px;
    overflow: hidden;
    transition: max-height .4s;
}

.button_opened {
    max-height: 100vh !important;
    overflow: visible !important;
}

.button_im_here p,
.button_another_number p {
    font-weight: 700;
    color: #DCDDCB;
    font-size: 24px;
    text-align: center;
}

.button_im_here .button_im_here_form {
    display: flex;
    justify-content: space-between;
}

.button_im_here .button_im_here_form p {
    font-size: 20px;
}

.button_im_here .button_im_here_form input {
    width: 40px;
    text-align: center;
    background-color: transparent;
    border: 2px solid #9FA871;
}

.button_main_send {
    padding: 20px 30px;
    background: #9FA871;
    border-radius: 18px;
}

.button_another_number_open {
    display: none;
}

.button_another_number_btn input {
    width: 100%;
    font-size: 22px;
    background-color: transparent;
    border: 2px solid #9FA871;
    border-radius: 14px;
    color: #fff;
    text-align: center;
}
